@charset "UTF-8";
/**
 * ngVerify style version v1.4.8
 *
 * License: MIT
 * Designed and built by Moer
 * github   https://github.com/Moerj/ngVerify
 *
 */
/*标红*/
.verifyError {
  /* 元素靠box-shadow来渲染边框,可以保证input和非input渲染统一 */
  border: 1px solid #d9534f !important; }
  .verifyError:focus {
    border-color: transparent !important;
    box-shadow: 0 0 2px 1px #d9534f !important; }

.verifyError-dash {
  border-style: dashed !important;
  border-radius: 5px; }

/*错误消息容器*/
.verifyTips {
  position: relative;
  z-index: 9999;
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end; }
  .verifyTips .tipMsg {
    color: #333;
    font-weight: normal;
    font-size: 14px;
    padding: 0;
    margin: 0;
    white-space: nowrap; }
  .verifyTips .tipStyle, .verifyTips .tipStyle-1, .verifyTips .tipStyle-2 {
    display: inline-block;
    visibility: hidden;
    line-height: 1.4;
    opacity: 0;
    border: 1px #d9534f solid;
    box-shadow: 0 0 3px 0px #d9534f;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    position: absolute; }
    .verifyTips .tipStyle i, .verifyTips .tipStyle-1 i, .verifyTips .tipStyle-2 i {
      border-color: transparent transparent #d9534f transparent;
      border-width: 7px;
      border-style: solid;
      width: 0;
      height: 0;
      padding: 0 !important;
      margin: 0 !important;
      position: absolute;
      top: auto; }
      .verifyTips .tipStyle i::after, .verifyTips .tipStyle-1 i::after, .verifyTips .tipStyle-2 i::after {
        content: '';
        border-color: transparent transparent #fff transparent;
        border-width: 6px;
        border-style: solid;
        width: 0;
        height: 0;
        position: absolute; }
  .verifyTips .tipStyle-0 {
    display: none !important; }
  .verifyTips .tipStyle-1 {
    right: 0;
    margin-top: -8px;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1);
            transform: translate3d(0, 0, 0) scale3d(0, 0, 1); }
    .verifyTips .tipStyle-1 i {
      border-color: #d9534f transparent transparent transparent;
      -webkit-transform: translate3d(0, 14px, 0);
              transform: translate3d(0, 14px, 0);
      bottom: 0;
      right: 10px; }
      .verifyTips .tipStyle-1 i::after {
        border-color: #fff transparent transparent transparent;
        top: -8px;
        right: -6px; }
  .verifyTips .tipStyle-2 {
    left: 0;
    margin-top: 9px;
    -webkit-transform: translate3d(0, -20px, 0) scale3d(0, 0, 1);
            transform: translate3d(0, -20px, 0) scale3d(0, 0, 1); }
    .verifyTips .tipStyle-2 i {
      top: -14px;
      left: 10px; }
      .verifyTips .tipStyle-2 i::after {
        top: -4px;
        left: -6px; }
  .verifyTips .showTip-1 {
    visibility: visible;
    opacity: .8;
    -webkit-transform: translate3d(0, -33px, 0) scale3d(1, 1, 1);
            transform: translate3d(0, -33px, 0) scale3d(1, 1, 1); }
  .verifyTips .showTip-2 {
    visibility: visible;
    opacity: .8;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    position: static; }
