.container{
    width: 400px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.PluginName {
    text-align: center;
    color: #C9E2F7;
    opacity: .5;
}
.Version{
    text-align: center;
    color: #999
}
.outsideBtn{
    position: absolute;
    left: 0;
    top: 50%;
}


label {
    width: 100%;
}
label.radio-inline,label.checkbox-inline{
    width: auto;
}

label span {
    color: #ee9285;
    float: right;
}
