/*DEMO页面布局*/
.container{
    width: 400px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.githubTag{
    overflow: hidden;
    width: 10em;
    height: 10em;
    position: absolute;
    top: 0;
    right: 0;
}
.github{
    display: block;
    position: absolute;
    top: 3em;
    right: -5.5em;
    padding: 1em;
    width: 20em;
    text-align: center;
    background-color: #00465c;
    text-transform: uppercase;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    text-decoration: none;
    white-space: nowrap;
    position: absolute;
    font-size: .7em;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}
.github:hover, .github:active,.github:visited{
    color:white;
    text-decoration: none;
}
.PluginName {
    text-align: center;
    color: #C9E2F7;
    opacity: .5;
}
.Version{
    text-align: center;
    color: #999
}
.outsideBtn{
    position: absolute;
    left: 0;
    top: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
label {
    width: 100%;
}
label.radio-inline,label.checkbox-inline{
    width: auto;
}

label span {
    color: #ee9285;
    float: right;
}
