<!DOCTYPE html>
<html lang="en" ng-app="APP">
<head>
	<meta charset="UTF-8">
	<title>ngVerify</title>
	<meta name="keywords" content="ngVerify,Angular Form,Angular Validation,Angular表单验证">
	<meta name="description" content="Angular表单验证组件,Angular Form Validation plugin">
	<meta name="author" content="Moer,199525807@qq.com">
	<meta name="robots" content="index,follow">
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico" >

	<link rel="stylesheet" href="lib/bootstarp.min.css">
	<link rel="stylesheet" href="lib/angular-datepicker.css">
	<link rel="stylesheet" href="lib/select.css">

	<link rel="stylesheet" href="css/ngVerify.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<h1 class="PluginName">ngVerify</h2>
	<p class="Version">ver: 1.4.6</p>
	<div class="githubTag">
		<a class="github" href="https://github.com/Moerj/ngVerify" target="_blank">STAR ON GITHUB</a>
	</div>

	<div class="container" ng-controller="testCtrl">
		<!-- verify-scope 设置表单验证范围 -->
		<form name="loginForm" verify-scope >
			<div class="form-group">
				<label>Time picker </label>
				<input ng-verify="tipStyle:0" type="dates" class="form-control" date-time ng-model="date.mon"  name="date"
					min-date="minDate" view="date" min-view="hours" placeholder="click here input">
			</div>
			

			<!-- 表单范围内的提交按钮, 当type="submit"时，可以不写control:'loginForm' -->
			<button class="btn btn-block btn-primary" type="submit" ng-verify ng-click="submit()">Submit</button>

		</form>

		<!-- 绑定表单范围外的按钮, control:'loginForm', 设置 disabled:false 可以使他可以不会因为校验失败而禁用 -->
		<button type="button" class="btn btn-warning outsideBtn" ng-verify="control:'loginForm', disabled:false" >vaild form</button>
		<button type="button" class="btn btn-warning outsideBtn" ng-click="test()" style="top:10px">删除日期</button>

	</div>

</body>
</html>

<script src="lib/angular-v1.5.5.js"></script>
<script src="lib/angular-datepicker.js"></script>
<script src="lib/select.js"></script>

<script src="js/ngVerify.js"></script>
<script src="js/index.js"></script>
